footer.footer
  .footer__top
    .footer__nav
      nav.footer__nav-main
        ul.nav__list
        li.nav__list-item
          a.nav__list-link(href="#") Макияж
        li.nav__list-item
          a.nav__list-link(href="#") ногти
        li.nav__list-item
          a.nav__list-link(href="#") волосы
        li.nav__list-item
          a.nav__list-link(href="#") парфюмерия
        li.nav__list-item
          a.nav__list-link(href="#") лицо
        li.nav__list-item
          a.nav__list-link(href="#") тело и ванна
        li.nav__list-item
          a.nav__list-link(href="#") мужчинам
        li.nav__list-item
          a.nav__list-link(href="#") аксессуары
        li.nav__list-item
          a.nav__list-link(href="#") health and care
        li.nav__list-item
          a.nav__list-link(href="#") подарки
        li.nav__list-item
          a.nav__list-link(href="#") бренды
      nav.footer__nav-more
        ul.nav__more
          li.nav__more-item
            a.nav__more-link(href="#") О компании 
          li.nav__more-item
            a.nav__more-link(href="#") Бренды
          li.nav__more-item
            a.nav__more-link(href="#") Оплата и доставка
          li.nav__more-item
            a.nav__more-link(href="#") Возврат и обмен
          li.nav__more-item
            a.nav__more-link(href="#") Шоурум
          li.nav__more-item
            a.nav__more-link(href="#") Контакты
    .footer__nav-phone.call__info
      a.call__info-link(href="tel:+380957216463") +3 (095) 721-64-63
      span.call__info-text (пн-пт - 10:00-19:00
      span.call__info-text сб-вс - 11:00 - 17:00)
      a.footer__call-btn.call__info-btn
    .footer__cards
      h4.footer__cards-title
      img.footer__cards-img(src="img/visa.png" alt="Visa")
      img.footer__cards-img(src="img/mastercard.png" alt="MasterCard")
  .footer__bottom
    a.footer__bottom-link
      img(src="img/logo.png" alt="")
    span.footer__bottom-copyright © 2013-2017 «Benefit» — интернет-магазин косметики email:
      a(href="mailto:zakaz@benefit.ru") zakaz@benefit.ru