header.header
  .header__top
    .container
      .header__top-wrapper
        .header__top-city
          span.city__description Ваш регион:
          span.city__selector Днепр
            ul.city__selector-list
              li.city__selector-item(data-city="dnepr") 
                a(href="#") Днепр
              li.city__selector-item(data-city="kiev")
                a(href="#") Киев
              li.city__selector-item(data-city="odessa") 
                a(href="#") Одесса
        .header__top-links
          a.header__top-link(href='#') Шоурум 
          a.header__top-link(href='#') Контакты

  .header__middle
    .container
      .header__middle-wrapper
        .call__info
          .call__info-text
            a.call__info-link(href='tel:0800568796')    0-800-56-87-96
            span.call__info-text (пн-пт - 10:00-19:00
            span.call__info-text сб-вс - 11:00 - 17:00)
          a.call__info-btn(href="#") Заказать звонок
        a.logo__wrapper(href="../index.html")
          img(src='img/logo.png')
        ul.ui__buttons
          li.ui__buttons-item
            a.ui__buttons-search(href='#')
              img(src="img/search-icon.svg" alt="")
              | Поиск
          li.ui__buttons-item
            a.ui__buttons-compare(href='#')
              img(src="img/libra_icon.svg" alt="")
              | Сравнение
          li.ui__buttons-item
            a.ui__buttons-cart(href='#')
              img(src="img/basket_icon.svg" alt="")
              | Корзина

  nav.header__nav
    .container
      ul.nav__list
        li.nav__list-item
          a.nav__list-link(href="#") Макияж
        li.nav__list-item
          a.nav__list-link(href="#") ногти
        li.nav__list-item
          a.nav__list-link(href="#") волосы
        li.nav__list-item
          a.nav__list-link(href="#") парфюмерия
        li.nav__list-item
          a.nav__list-link(href="#") лицо
        li.nav__list-item
          a.nav__list-link(href="#") тело и ванна
        li.nav__list-item
          a.nav__list-link(href="#") мужчинам
        li.nav__list-item
          a.nav__list-link(href="#") аксессуары
        li.nav__list-item
          a.nav__list-link(href="#") health and care
        li.nav__list-item
          a.nav__list-link(href="#") подарки
        li.nav__list-item
          a.nav__list-link(href="#") бренды
