@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeueBook.eot');
  src: url('../fonts/BebasNeueBook.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeueBook.svg#BebasNeueBook') format('svg'),
    url('../fonts/BebasNeueBook.ttf') format('truetype'),
    url('../fonts/BebasNeueBook.woff') format('woff'),
    url('../fonts/BebasNeueBook.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}